
<mat-form-field appearance="outline">
    <mat-label>Seleccionar alumnos</mat-label>
    <input matInput [formControl]="alumnosControl" [matAutocomplete]="auto" placeholder="Buscar alumnos">
    <mat-autocomplete #auto="matAutocomplete">
        @for (alumno of alumnosFiltrados; track $index) {
            <mat-option [value]="alumno.nombre" (onSelectionChange)="seleccionarAlumno(alumno)">
                {{ alumno.nombre }}
              </mat-option>
        }
    </mat-autocomplete>
  </mat-form-field>
  
  <mat-chip-set>
    @for (alumno of alumnosSeleccionados; track $index) {
        <mat-chip [removable]="true" (removed)="quitarAlumno(alumno)">
            {{ alumno.nombre }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
    }
  </mat-chip-set>

